<html>
  <head>
      {% include '/includes/head.html.twig' %}
      <title>Stores</title>
  </head>

  <body>

      <div class="jumbotron">
        <h1>Stores</h1>
      </div>
      <div class="container">

      {% if stores is not empty %}
          <p>Here are all your stores:</p>
          <ul>
              {% for store in stores %}
                <li>
                  <a href="/store/{{ store.getId }}">{{ store.getName }}</a><br>
                  <button><a class="edit" href='/stores/{{ store.getId }}/edit'>Edit</a></button><br>
                  <form action="/store/{{ store.getId }}/delete" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <button type="submit">Delete</button>
                  </form>
                </li>
              {% endfor %}
          </ul>
          {% else %}
            <h3>There are no stores yet, add some!</h3>
      {% endif %}

      <form action='/delete_stores' method='post'>
          <button class="clear" type='submit'>Clear All</button>
      </form><br>

      <form action='/stores' method='post'>
          <label for='name'>Store name:</label>
          <input id='name' name='name' type='text'>

          <button type='submit'>Add</button>
      </form><br>


      {% if form %}
        <form action="/stores/updated" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="current_storeId" type="hidden" value="{{ store.getId() }}">
        <input type="text" name="name">
        <button type="submit" name="button">Edit Name</button>
        </form>
      {% endif %}

      <a class="home" href='/'>Home</a>
    </div>
  </body>
</html>
